@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@300;400&family=Poppins:wght@400;500;600;700;800&display=swap');

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
}

* {
    padding: 0%;
    margin: 0%;
}

:root {
    margin: 0;
    padding: 0;
    overflow-x: hidden;

    --cor-fundo: black;
    --cor-template: #363636;
    --cor-bg: #A66E38;
    --bg-medio-escuro: #7b5741;
    --cor-letras: #E1E1E1;
    --cor-secudaria: #FFEEAD;
    --cor-lenear: linear-gradient(95deg, #FFEEAD 57.09%, #FF9051 87.74%);
    --cor-tercearia: #FF9051
}

body {
    overflow-x: hidden;
    background-color: var(--cor-bg);
    height: 100%;
    box-sizing: border-box;
    color: var(--cor-letras);
    width: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;

   /* background-image: url(../assets/Background\ Pattern.png);*/
}


header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px; 
}
.header-container {
    padding: 0;
    margin-top: 0;
    position: absolute;
    background-color: transparent;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;


    transform: rotate(90deg);
    top: 300px;
    left: -600px;
    position: fixed;
}
.header-container a {
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    border-bottom: 3px solid transparent;
    color: var(--cor-letras);
    font-weight: 600;
}
.header-container a:hover {
    font-size: 20px;
    border-bottom: 3px solid var(--cor-secudaria);
    transition: 600ms;
}

main {
    display: block;
    width: 100%;
    box-sizing: border-box;
    height: 100%;
}

section .animate {
    transition: ease 1s;
    filter: blur(3px);
    opacity: 0;
}
section.show-animate .animate {
    filter: blur(0);
    opacity: 1;
}
.section-1-5 .animate {
    transform: translateX(100%);
}
.section-1-5.show-animate .animate {
    transform: translateX(0);
}
.section-2 .animate {
    transform: translateX(-100%);
}
.section-2.show-animate .animate {
    transform: translateX(0);
    
}


/* Home principal */
section.module{
    margin: 40px 0;
}

section.module.section-1-5{
    padding: 40px 0 ;
    background-color: var(--bg-medio-escuro);
}
section.module.section-1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
    width: 100%;
}

section.module.parallax{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100% !important;
    width: 100%;
    margin: auto;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    
}

section.module.parallax::after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    display: flex;
    opacity: 0.9;

}

section.module.parallax.section-1-5{
    
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://i.pinimg.com/564x/19/58/a0/1958a0aaa5ed48d262462bd769afb18f.jpg");
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.container{
    width: 100%;
    max-width: 80%;
    height: 100%;
    margin: 0 auto;
    padding: 0 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.section-1 {
    width: 80%;
    min-height: 100vh;
    display: flex;
    position: relative;
    transform-style: inherit;
    align-items: center;
    flex-direction: column;
    padding: 30vw 0 5vm;
    gap: 40px;
}

.section-1 h1 {
    font-size: 46px;
    font-family: 'Krona One', sans-serif;
}

.section-1 h1 b {
    background: var(--cor-lenear);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section-1 h5 {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    line-height: 34px;
    text-align: center;

}

.info-redes {
    width: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
}

.section-1 h3 {
    text-align: center;
    font-size: 'Krona One', sans-serif;
    width: 80%;
    font-size: 30px;
    margin-bottom: 20px;
}

.info-redes .button {
    margin: 10px;
    width: 180px;
    text-align: center;
    position: relative;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid var(--cor-secudaria);
    padding: 15px 30px;
    color: var(--cor-secudaria);
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
    background: none;
}

.info-redes .button:hover {
    color: var(--cor-fundo);
}

.info-redes .button::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--cor-tercearia);
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
    transform: scalex(0);
}

.info-redes .button:hover::before {
    transform: scalex(1);
    color: var(--cor-fundo);
}

/* sessão sobre mim */

.section-1-5 {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.title-1-5 h2 {
    font-size: 46px;
    font-family: 'Krona One', sans-serif;
}

.title-1-5 h3 {
    text-align: center;
    font-family: 'Krona One', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 6.6px;
    text-transform: uppercase;


    background: var(--cor-lenear);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

.container-range-info{
    gap: 0;
    width: 100vw;
    height: 80px;
    padding: 0;

    overflow: hidden;
    background-color: #A66E38;
    border: 1px solid var(--cor-template);

    margin-top: 60px;
    position: relative;
    z-index: 99;

    display: flex;
    align-items: center;
    justify-content: center;
}


.marquee-content {
    display: flex;
    animation: marquee 20s linear infinite;
    width: max-content;
    align-items: center;
}

.marquee-content span {
    padding: 10px 20px;
    white-space: nowrap;
    font-size: 1.9em;
    color: var(--cor-lenear);
    text-align: center;
    
    text-transform: uppercase;
}
.marquee-content img{
    padding: 13px;
    width: 30px;
    height: 30px;
    border-radius: 10%;
}

.section-info {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 30px;
}

.section-info p {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    line-height: 34px;
    color: var(--cor-letras);
    font-weight: 900;

    -webkit-text-stroke: 1px var(--cor-letras); 
}

.section-info img {
    width: 30%;
    border-radius: 100%;
}

.section-skill {
    width: 50%;
    height: 50%;
}

.section-skill h2 {
    text-align: center;
    font-family: 'Krona One', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 6.6px;
    text-transform: uppercase;


    background: var(--cor-lenear);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;

}

.skills {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;

    background-color: var(--bg-medio-escuro);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    border-radius: 8px;

}

.skills img {
    width: 25px;
    height: 25px;
}



/* sesão de projetos */
.section-2 {
    width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;

}

.section-2-info {
    width: 50%;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}

.section-2-info h2 {
    font-size: 46px;
    font-family: 'Krona One', sans-serif;
}

.section-2-info h3 {
    text-align: center;
    font-family: 'Krona One', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 6.6px;
    text-transform: uppercase;


    background: var(--cor-lenear);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

.section-2-info p {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    line-height: 34px;

}

.section-project {

    width: 100%;
    margin-top: 50px;
    display: grid;
    gap: 30px 100px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    justify-content: center;
    justify-items: center;
    grid-auto-flow: row;

}

.section-project-one {
    cursor: pointer;
    width: 300px;
    height: 450px;
    background-color: var(--bg-medio-escuro);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    justify-content: space-between;
    z-index: 2;

}

.animation {
    position: relative;
    width: 305px;
    height: 455px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    overflow: hidden;
    position: relative;


}

.animation:hover::before {
    content: '';
    position: absolute;
    width: 250px;
    height: 540px;
    background-color: var(--cor-secudaria);
    box-shadow: 0 0 20px rgb(8, 8, 8);
    animation: animate 12s linear infinite;
    z-index: 1;
}




.section-project-one img {
    width: 100%;
    height: 40%;
    background-size: cover;
    object-fit: cover;
    object-position: center;

    opacity: 0.7;

}



.project-one-details {
    display: flex;
    width: 90%;
    align-items: center;
    flex-direction: column;
    justify-content: center;


}

.project-one-details h3 {
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
}

.project-one-details p {
    font-size: 10px;
    color: #CCC;
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    padding: 10px;

}

.project-one-details h5 {
    padding: 10px;
    font-size: 7px;
    font-family: 'Krona One', sans-serif;
    color: #CCC;

}

.project-one-links {
    width: 80%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 10px;

}

.project-one-links a {
    width: 100%;
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid var(--cor-secudaria);
    padding: 10px 15px;
    color: #CCC;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 7px;
    font-weight: bold;
    overflow: hidden;
    transition: 0.2s;
    background: none;
}

.project-one-links a:hover {
    color: var(--cor-fundo);
}

.project-one-links a::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--cor-secudaria);
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
    transform: scalex(0);
}

.project-one-links a:hover::before {
    transform: scalex(1);
    color: var(--cor-fundo);
}






.project-one-links img {
    width: 15px;
    height: auto;
}

.template-project {
    background-color: var(--cor-secudaria);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.85);
    backdrop-filter: blur(10px);
    border-radius: 8px;
    align-items: center;
    flex-direction: column-reverse;
    padding: 20px;
    gap: 5px;
    color: var(--cor-letras);


    display: none;
    position: absolute;
    position: 0;
    align-items: center;
    justify-content: center;
    width: 1000px;
}









footer {
    width: inherit;
    height: inherit;
    background-color: rgba(255, 255, 255, 0.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    border-radius: 8px;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    padding: 20px;
    gap: 5px;

    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 40px;

}

.footer_redes {
    width: 10%;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer_redes img {
    width: 20px;
}

footer h4 {
    font-size: 16px;
    background: var(--cor-lenear);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

@media (max-width: 1440px) {
    header {
        background-color: var(--cor-fundo);
        height: 80px;
        position: absolute;

    }

    .header-container {
        justify-content: center;
        gap: 50px;
    }

    .header-container a {
        border-bottom: 2px solid var(--cor-secudaria);

    }

    main {

        align-items: center;
        gap: 40px;

    }

    .section-1 {
        width: auto;
        margin-top: 70px;
    }

    .section-1 h1 {
        text-align: center;
    }

    .section-1 h5 {
        text-align: center;
    }
}

@media (max-width: 780px) {

    section{
        margin-bottom: 100px;
    }

    .show-animate{
        display: none;
    }

    .section-1 .animate{
       transform: none;
       filter: blur(0px);
    }

    .section-1-5 .animate{
        transform: none;
        filter: blur(0px);
     }

     .section-2 .animate{
        transform: none;
        filter: blur(0px);
     }

    section .animate{
        opacity: 1;
        
    }

    .header-container a {
        font-size: 20px;
    }

    .section-1 {
        width: 100%;
        gap: 20px;
        justify-content: start;

    }

    .section-1 h1 {
        font-size: 36px;
        margin-bottom: 40px;
    }

    .section-1 h5 {
        font-size: 17px;

    }

    .info-redes {
        width: 100%;
    }

    .info-redes .button {
        padding: 12px;
        font-size: 14px;
    }

    .info-redes h3 {
        font-size: 16px;
        width: 80%;
    }


    .section-1-5 {
        width: 100%;
        gap: 10px;
    }

    .section-1-5 h2 {
        font-size: 36px;
    }

    .section-info {
        flex-direction: column-reverse;
    }

    .section-skill {
        width: 100%;

    }

    .skills h2 {
        font-size: 17px;
    }


    .section-2 h2 {
        font-size: 36px;
    }

    .section-project {}
}

@media (max-width: 500px) {

    .section-1 h1 {
        font-size: 26px;
        margin-bottom: 20px;
    }

    .info-redes {
        flex-direction: column;
        width: 100%;
    }

    .section-1-5 h2 {
        font-size: 26px;
    }

    .section-1-5 h3 {
        font-size: 12px;
    }

    .section-1-5 p {
        font-size: 18px;
    }

    .skills {
        flex-direction: column;
    }

    .section-2 h2 {
        font-size: 26px;
    }

    .section-2 h3 {
        font-size: 12px;
    }

    .section-2-info {
        margin-bottom: 0;
    }
}

@media (max-width: 320px) {

    .section-1 h1 {
        font-size: 21px;
    }

    .header-container {
        gap: 8px;
    }

    .section-1 {
        height: 100vh;
    }
}